#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-container {
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgb(73, 69, 69);
  color: whitesmoke;
  padding: 15px;
  font-size: small;
}

.poster {
  max-height: 300px;
  max-width: 100px;
}

img {
  max-width: 100%;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
