:root {
  --first-color: #0d1b2a;
  --second-color: #1b263b;
  --third-color: #415a77;
  --fourth-color: #ffc300;
  --base-font: 'Nunito', sans-serif;
  --second-font: 'Nobile', sans-serif;
  --gap-standard: 1.5rem;
  --radius-standard: 2px;
}

body {
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--second-color);
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.452);
}

.container-logo {
  padding-left: var(--gap-standard);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.container-logo .img-logo {
  width: 2rem;
  height: auto;
}

.container-logo p {
  font-family: var(--base-font);
  font-weight: bold;
  color: var(--fourth-color);
}

.menu-burger {
  padding-right: var(--gap-standard);
}

.search-bar {
  width: 80vw;
  height: 2rem;
  margin: 1.2rem 0;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--second-color);
  border-radius: var(--radius-standard);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.205);
}

.description-search {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.description-search p {
  font-family: var(--base-font);
  color: var(--fourth-color);
  font-size: 0.8rem;
}

.title-section {
  font-size: 16px;
  font-family: var(--base-font);
  color: var(--fourth-color);
  text-align: center;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-standard);
}

.card-movie {
  width: 10rem;
  height: 16.5rem;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 4px;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.452);
}

.card-movie .img-movie {
  image-rendering: auto;
  width: auto;
  height: 12rem;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.card-movie .title-movie {
  font-size: 0.8rem;
  font-family: sans-serif;
  text-align: center;
  color: white;
  margin: 0;
}

.info-movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.info-movie p {
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-size: 0.6rem;
}

.rating-info {
  display: flex;
  align-items: center;
}

.rating-info p {
  margin: 0;
  color: var(--fourth-color);
  font-size: 0.8rem;
}

.genre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 1rem;
  border: 1px solid var(--fourth-color);
  border-radius: var(--radius-standard);
}

.genre p {
  color: white;
  font-family: sans-serif;
  font-size: 0.6rem;
}

.genres-movie {
  padding: 0 0.2rem;
  display: flex;
  gap: 0.4rem;
}
